 @model User

<div class="form-wrap">
    <h1 class="text-center">Register | <a href="/login">Login</a></h1>

    <form asp-action="Register" asp-controller="Login" method="post">
        <div class="form-group">
            <label for="FirstName">First Name</label>
            <input class="form-control" asp-for="FirstName" id="FirstName">
            <span class="text-red" asp-validation-for="FirstName" ></span>
        </div>
        <div class="form-group">
            <label for="LastName">Last Name</label>
            <input class="form-control" asp-for="LastName">
            <span class="text-red" asp-validation-for="LastName"></span>
        </div>
        <div class="form-group">
            <label for="Email"> Email</label>
            <input class="form-control" asp-for="Email">
            <span class="text-red" asp-validation-for="Email"></span>
        </div>
        <div class="form-group">
            <label for="Password">Password</label>
            <input class="form-control" asp-for="Password">
            <span class="text-red" asp-validation-for="Password"></span>
        </div>
        <div class="form-group">
            <label for="Confirm"> Confirm Password</label>
            <input class="form-control" asp-for="Confirm">
            <span class="text-red" asp-validation-for="Confirm"></span>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Submit</button>
    </form>
</div>